@page "/redirectedappealregistry/{DistrictName}/{Period}/{Year:int}"
@attribute [Authorize(Roles = @Participants.District)]
@*DIS*@

<div class="container-fluid m-1">
    <h3 class="text-center my-3">Реестр обращений, предполагаемых к переадресации в иные органы и ведомства</h3>
    <h3 class="text-center my-3">@Period.@Year г.</h3>

    <table class="table table-bordered">
        <thead>
            <tr class="text-center align-middle">
                <th style="width: 1%">№</th>
                <th style="width: 10%">Регистрационный номер в системе Надзор-WEB</th>
                <th style="width: 15%">ФИО заявителя</th>
                <th style="width: 1%">Характер обращ- ения*</th>
                <th style="width: 20%">Орган, в который предполагается переадресовать обращение</th>
                <th style="width: auto">Основание переадресации</th>
                <th style="width: 10%">Оценка возможности переадресации**</th>
                <th style="width: 8%">
                    <a href="/addredirectedappeal/@DistrictName/@Period/@Year" class="btn btn-outline-success m-0" role="button">
                        <p class="h5 pt-1 mb-1">Создать запись</p>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody class="align-middle">
            @foreach (var appeal in appealsList)
            {
                <tr class="align-content-start">
                    <td class="text-center">@num</td>
                    <td class="text-center">
                        <a href=@appeal.NadzorHyperlink>@appeal.RegistrationNumber</a>                        
                    </td>
                    <td>@appeal.ApplicantFullName</td> 
                    @if (appeal.Department != null)
                    {
                        <td class="text-center">@appeal.Department.DepartmentIndex</td>
                    }
                    else
                    {
                        <td class="text-center"></td>
                    }           
                    <td>@appeal.RecipientAgency</td>
                    <td>@appeal.DecisionBasis</td>
                    <td class="text-center fw-bold">@appeal.DepartmentAssessment</td>
                    <td class="text-center">
                        <a href="/updateredirectedappeal/@DistrictName/@appeal.Id" class="btn btn-outline-primary">Изменить</a>
                        <a href="/deleteredirectedappeal/@DistrictName/@appeal.Id" class="btn btn-outline-danger px-3">Удалить</a>
                    </td>
                </tr>
                num++;
            }
        </tbody>
    </table>
    <div class="mt-5">

        <RedirectedAppealCommentsComponent />
    </div>
</div>


@code {
    [Inject]
    public IRedirectedAppealDataService? RedirectedAppealDataService { get; set; }
    [Parameter]
    public string Period { get; set; }
    [Parameter]
    public int Year { get; set; }
    [Parameter]
    public string DistrictName { get; set; }
    private int num;

    private List<RedirectedAppealModelDTO> appealsList = new();

    protected override async Task OnInitializedAsync()
    {
        num = 1;
        appealsList = (await RedirectedAppealDataService.GetAllRedirectedAppeals(DistrictName, Period, Year)).ToList();
    }

//<div class="container mb-5">
//    <p class="float-end">
//        ПРИЛОЖЕНИЕ №4 <br />к распоряжению прокурора Республики Татарстан
//        <br />от 22.08.2021 №174/25р
//    </p><br />
//</div>
}

