@page "/addredirectedappeal/{DistrictName}/{Period}/{Year:int}"
@page "/updateredirectedappeal/{DistrictName}/{Period}/{Year:int}/{Id:int}"
@attribute [Authorize(Roles = @Participants.District)]

<div class="container">
@if (Id == 0)
{
    <h1 class="mt-3 mb-5 text-center">Создать запись: Переадресация  @Period.@Year г.</h1>
}
else
{
    <h1 class="mt-3 mb-5 text-center">Редактировать запись: Переадресация  @Period.@Year г.</h1>
}
<EditForm Model="@appeal" OnValidSubmit="SaveAppeal" class="h3">
    <DataAnnotationsValidator />

    <div class="mb-4">
        <label for="RegistrationNumber" class="form-label">Регистрационный номер в системе Надзор-WEB:</label>
        <div class="col-md-4 w-100">
            <InputText class="form-control form-control-lg" @bind-Value="appeal.RegistrationNumber" />
        </div>
        <ValidationMessage For="@(() => appeal.RegistrationNumber)" />
    </div>

    <div class="d-flex">
        <div class="row me-2">
            <button class="btn btn-outline-success btn-lg" type="button" disabled="true" @onclick=PasteFromClipboard>Cсылка на документ:</button>
        </div>
        <div>
            <p class="text-black-50 fs-5 mt-2 fst-italic">Чтобы вставить ссылку документа из Надзора - откройте его в новой вклатке (прав.кп мыши "Открыть в новой вкладке") скопируйте всю адресную строку и вставьте в нижнее поле:</p>
            <InputText class="form-control form-control-lg" placeholder="https://..." @bind-Value="appeal.NadzorHyperlink" />
            <ValidationMessage For="@(() => appeal.NadzorHyperlink)" />
        </div>
    </div>

@*   <div class="input-group mb-4 input-group-lg">
       <div class="input-group-prepend">
           <button class="btn btn-outline-success btn-lg" type="button" disabled="true" @onclick=PasteFromClipboard>Cсылка на документ:</button>
       </div>
       <div class="row">
           <InputText class="form-control form-control-lg" placeholder="Ссылка на документ" @bind-Value="appeal.NadzorHyperlink" />
       </div>
           <ValidationMessage For="@(() => appeal.NadzorHyperlink)" />
           <p class="text-black-50 fs-4 mt-2 fst-italic">Чтобы вставить ссылку документа Надзора откройте его в новой вклатке (прав.кп мыши "Открыть в новой вкладке") и скопируйте всю адресную строку (http://...)</p>
   </div>
*@

@*    <div class="mb-4">
        <label for="RegistrationNumber" class="form-label">Cсылка в системе Надзор-WEB:</label>
        <div class="col-md-4 w-100">
            <InputText class="form-control form-control-lg" @bind-Value="appeal.NadzorHyperlink" />
        </div>
        <ValidationMessage For="@(() => appeal.NadzorHyperlink)" />
         <p class="text-black-50 fs-4 fst-italic">Чтобы вставить ссылку документа Надзора откройте его в новой вклатке (прав.кп мыши "Открыть в новой вкладке") и скопируйте всю адресную строку (http://...)</p>
    </div>*@

@* BTN   <div class="input-group mb-4 input-group-lg">
        <div class="input-group-prepend">
            <button class="btn btn-outline-primary btn-lg" type="button" @onclick=PasteFromClipboard>Вставить ссылку на документ:</button>
            <a href="@appeal.NadzorHyperlink" class="text-primary ms-3 fst-italic">@hyperlabel</a>
        </div>
            <ValidationMessage For="@(() => appeal.NadzorHyperlink)" />
            <p class="text-black-50 fs-4 mt-2 fst-italic">Чтобы вставить ссылку документа Надзора откройте его в новой вклатке (прав.кп мыши "Открыть в новой вкладке") и скопируйте всю адресную строку (http://...)</p>
    </div>*@


    <div class="my-5">
        <label for="ApplicantFullName" class="form-label">ФИО заявителя / Наименование организации:</label>
        <div class="col-md-4 w-100">
                <InputText class="form-control form-control-lg" @bind-Value="appeal.ApplicantFullName" />
        </div>
        <ValidationMessage For="@(() => appeal.ApplicantFullName)" />
    </div>

    <div class="mb-5">
        <label for="AppealClassification.Id" class="form-label me-3">Характер обращения*:</label>
        <InputSelect @bind-Value="@appeal.DepartmentId" class="form-control-lg">
            <option value="">отдел:</option>
            @foreach (var department in departmentsList)
            {
                <option value="@department.Id">@department.DepartmentIndex: @department.DepartmentName</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => appeal.DepartmentId)" />
    </div>

    <div class="mb-4">
        <label class="form-label">Орган, в который предполагается переадресовать обращение:</label>
        <div class="col-md-4 w-100">
            <InputTextArea class="form-control form-control-lg" rows="4" @bind-Value="appeal.RecipientAgency" />
            @*<InputText class="form-control form-control-lg" @bind-Value="appeal.RecipientAgency" />*@
        </div>
        <ValidationMessage For="@(() => appeal.RecipientAgency)" />
    </div>

    <div class="mb-4">
        <label class="form-label">Основание переадресации:</label>
        <div class="col-md-4 w-100">
            <InputTextArea class="form-control form-control-lg" rows="4" @bind-Value="appeal.DecisionBasis" />
        </div>
        <ValidationMessage For="@(() => appeal.DecisionBasis)" />
    </div>

    <div class="input-group mb-5 input-group-lg">
        <div class="input-group-prepend">
            <button class="btn btn-outline-secondary btn-lg" type="button" @onclick=ChangePeriod>Изменить дату:</button>
        </div>
        <div>
            <InputText class="form-control form-control-lg" disabled=@isEditable placeholder="'число'.'месяц'" aria-label="PeriodInfo" aria-describedby="basic-addon1" @bind-Value="appeal.PeriodInfo" />
        </div>
        <ValidationMessage For="@(() => appeal.PeriodInfo)" />
    </div>
    <div class="form-group mt-4 mb-4">
        <button type="submit" class="btn btn-primary btn-lg">Сохранить</button>
        <button class="btn btn-light btn-lg" @onclick="GoToRedirectedPage">Отменить</button>
    </div>
</EditForm>

<hr />
<RedirectedAppealCommentsComponent />
</div>


@code {
    [Inject]
    public IRedirectedAppealDataService RedirectedAppealDataService { get; set; }
    [Inject]
    public IDepartmentService DepartmentService { get; set; }

    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public int Year { get; set; }
    [Parameter]
    public string Period { get; set; }
    [Parameter]
    public string DistrictName { get; set; }
    
    private string hyperlabel = "";
    private bool isEditable;

    public RedirectedAppealModelDTO appeal { get; set; } = new();
    private Department[] departmentsList = new Department[]{};


    protected override async Task OnInitializedAsync()
    {
        isEditable = true;
        departmentsList = (await DepartmentService.GetAllDepartments()).ToArray();      //httpClient.GetFromJsonAsync<List<Department>>("api/Department");
        if (Id == 0)
        {
            appeal.YearInfo = Year;
            appeal.PeriodInfo = Period;
            appeal.District = DistrictName;
        }
        else
        {
            appeal = await RedirectedAppealDataService.GetRedirectedAppealById(Id);
        }
    }

    private async Task PasteFromClipboard()
    {
        try
        {
            appeal.NadzorHyperlink = await ClipboardExtension.ReadTextAsync();
            if (appeal.NadzorHyperlink.Length > AppealConstants.hyperLinkLength)
            {
                hyperlabel = $"{appeal.NadzorHyperlink?.Substring(0, AppealConstants.hyperLinkLength)}...";
            }
            else
            {
                hyperlabel = "ссылка на документ";
            }
        }
        catch
        {
            await js.InvokeVoidAsync("alert", "Ничего ещё не скопировано");
            return;
        }
        //else if (loginResponse.StatusCode == HttpStatusCode.Unauthorized)
        //{
        //    await js.InvokeVoidAsync("alert", "Неверный логин или пароль");
        //    return;
        //}
    }

    private void ChangePeriod()
    {
        isEditable = !isEditable;
    }

    private async Task SaveAppeal() //year and District will be added
    {
        if (Id == 0)
        {
            await RedirectedAppealDataService.AddRedirectedAppeal(appeal);
        }
        else
        {
            await RedirectedAppealDataService.UpdateRedirectedAppeal(appeal);
            //await httpClient.PutAsJsonAsync<RedirectedAppealModelDTO>("api/RedirectedAppeal", appeal);
            //HttpClient.PutAsJsonAsync<Developer>("api/developer", developer);  //<Developer>
        }

        GoToRedirectedPage();
    }

    private void GoToRedirectedPage()
    {
        navManager.NavigateTo($"/redirectedappealregistry/{DistrictName}/{appeal.PeriodInfo}/{appeal.YearInfo}");
        //navManager.NavigateTo($"/redirectedappealregistry/{appeal.PeriodInfo}/{appeal.YearInfo}");
    }
}