@page "/deleteredirectedappeal/{Id:int}"

<div class="form-group">
    <h3>Вы уверены что хотите удалить обращени @appeal.RegistrationNumber?</h3>
    <table class="table">
        <tbody>
            <tr>
                <td>ФИО заявителя</td>
                <td>@appeal.ApplicantFullName</td>
            </tr>
            <tr>
                <td>Орган, в который предполагается переадресовать обращение</td>
                <td>@appeal.RecipientAgency</td>
            </tr>
            <tr>
                <td>Основание переадресации</td>
                <td>@appeal.DecisionBasis</td>
            </tr>
            <tr>
                <td>>Оценка возможности переадресации</td>
                <td>@appeal.DepartmentAssessment</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <button class="btn btn-danger" @onclick="DeleteAppeal">Delete</button>
    <button class="btn btn-light" @onclick="GotBack">Cancel</button>
</div>