@page "/redirectedappealassessment/{District}/{Period}/{Year:int}"

<div class="container-fluid m-1">
<h3 class="text-center my-3">Реестр обращений, предполагаемых к переадресации в иные органы и ведомства</h3>
<h3 class="text-center my-3">@districtDescription @Period @Year г.</h3>

  <table class="table table-bordered">
    <thead>
      <tr class="text-center align-middle">
        <th style="width: 1%">№</th>
        <th style="width: 10%">Регистрационный номер в системе Надзор-WEB</th>
        <th style="width: 15%">ФИО заявителя</th>
        <th style="width: 1%">Характер обращ- ения*</th>
        <th style="width: 20%">Орган, в который предполагается переадресовать обращение</th>
        <th style="width: auto">Основание переадресации</th>
        <th style="width: 10%">Оценка возможности переадресации**</th>
@*        <th>Примечание</th>*@
      </tr>
    </thead>
    <tbody class="align-middle">
      @foreach (var appeal in appealsList)
      {
          <tr class="align-content-start">
              <td class="text-center">@num</td> <!--swap with counter-->
              <td class="text-center">@appeal.RegistrationNumber</td>
              <td>@appeal.ApplicantFullName</td>
              <td class="text-center">@appeal.DepartmentId</td>
              <td>@appeal.RecipientAgency</td>
              <td>@appeal.DecisionBasis</td>
              @if (!UserState.User.IsInRole(Participants.Department))
              {
              <td class="text-center">@appeal.DepartmentAssessment</td>
              }
              else
              {
                <td class="text-center">
                     <a href="/estimateredirectedappeal/@appeal.Id" class="btn btn-outline-dark">Оц</a>: @appeal.DepartmentAssessment
                </td>
                @* <td> <a href="/deleteredirectedappeal/@appeal.Id" class="btn btn-outline-dark">Удалить</a> </td> *@           
              }
          </tr> num++;
      }
    </tbody>
  </table>
  <div class="mt-5">

        <RedirectedAppealCommentsComponent />
    </div>
 </div>


 @code {
    [Inject]
    public IUserService UserService { get; set; }
    [Inject]
    public IRedirectedAppealDataService? RedirectedAppealDataService { get; set; }
    [CascadingParameter(Name = "UserState")]
    public AuthenticationState UserState { get; set; }

    [Parameter]
    public string District { get; set; }
    [Parameter]
    public string Period { get; set; }
    [Parameter]
    public int Year { get; set; }

    private string districtDescription;
    private int num = 1;

    private List<RedirectedAppealModelDTO> appealsList = new();

    protected override async Task OnInitializedAsync()
    {
        districtDescription = await UserService.GetUserDescription(District);

        appealsList = (await RedirectedAppealDataService.GetAllRedirectedAppeals(District, Period, Year)).ToList(); //districtName
    }
}
