@page "/redirectedunanswered/{DepartmentName}/{Period}/{Year:int}"
@attribute [Authorize(Roles = @Participants.Department)]
@*DEP*@

<div class="container-fluid m-1">
    <h3 class="text-center my-3">Реестр обращений, предполагаемых к переадресации в иные органы и ведомства</h3>
    <h3 class="text-center my-3">@Period.@Year г.</h3>

    <table class="table table-bordered">
        <thead>
            <tr class="text-center align-middle">
                <th style="width: 1%">№</th>
                <th style="width: 10%">Регистрационный номер в системе Надзор-WEB</th>
                <th style="width: 15%">ФИО заявителя</th>
                <th style="width: 1%">Характер обращ- ения*</th>
                <th style="width: 20%">Орган, в который предполагается переадресовать обращение</th>
                <th style="width: auto">Основание переадресации</th>
                <th style="width: 10%">Оценка возможности переадресации**</th>
            </tr>
        </thead>
        @if (appealsList.Length == 0)
        {
            <tbody>
                <tr>
                    <td align="center" colspan="10" style="border:none">
                        <div class="py-5">
                            <div style="color: rgb(0,0,120)" class="la-timer la-2x">
                                <div></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        }
        else
        {
            <tbody class="align-middle">
                @foreach (var appeal in appealsList)
                {
                    <tr class="align-content-start">
                        <td class="text-center">@num</td>
                        <td class="text-center">
                            <a href=@appeal.NadzorHyperlink>@appeal.RegistrationNumber</a>
                        </td>
                        <td>@appeal.ApplicantFullName</td>
                        @if (appeal.Department != null)
                        {
                            <td class="text-center">@appeal.Department.DepartmentIndex</td>
                        }
                        else
                        {
                            <td class="text-center"></td>
                        }
                        <td>@appeal.RecipientAgency</td>
                        <td>@appeal.DecisionBasis</td>

                        <td class="text-center fw-bold">
                            <a href="/estimateredirectedappeal/@appeal.Id/@DepartmentName/@appeal.District" class="btn btn-outline-primary">Оценить</a>
                        </td>
                    </tr>
                    num++;
                }
            </tbody>
        }
    </table>
    <a href="/redirecteddistrictspage/@DepartmentName/@Period/@Year" class="btn btn-outline-success"><span class="h5 fw-bold">&#60; </span>Районы</a>
    <div>
        <RedirectedAppealCommentsComponent />
    </div>
</div>


@code {
    [Inject]
    public IRedirectedAppealDataService RedirectedAppealDataService { get; set; }
    [Parameter]
    public string DepartmentName { get; set; }
    [Parameter]
    public string Period { get; set; }
    [Parameter]
    public int Year { get; set; }

    private int num;

    private RedirectedAppealModelDTO[] appealsList = new RedirectedAppealModelDTO[] { };

    protected override async Task OnInitializedAsync()
    {
        num = 1;

        appealsList = (await RedirectedAppealDataService.GetAllRedirectedUnansweredForDepartment(DepartmentName, Period, Year)).ToArray();

        if (appealsList.Length == 0)
        {
            navManager.NavigateTo($"/redirectedpage/{Year}");
        }
    }
}