<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
    @*        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />*@
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Ресурс не найден</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert" class="fs-4">По данному адресу ничего не обнаружено :( проверьте правильность переданной ссылки</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
