@page "/satisfiedunanswered/{DepartmentName}/{Period}/{Year:int}"
@*DEP*@

<div class="container-fluid m-1">
    <h3 class="text-center my-3">Реестры обращений, по которым приняты решения "Удовлетворено" и "Удовлетворено частично"</h3>
    <h3 class="text-center my-3">@ReferencePeriod.Quarters[Period] @Year г.</h3>

    <table class="table table-bordered">
        <thead>
            <tr class="text-center align-middle">
                <th style="width: 1%">№</th>
                <th style="width: 10%">Регистрационный номер в системе Надзор-WEB</th>
                <th style="width: 15%">ФИО заявителя</th>
                <th style="width: 1%">Характер обращ- ения*</th>
                <th style="width: auto">Принятые меры прокурорского реагирования (с датой фактического направления акта реагирования)</th>
                <th style="width: 15%">Результаты рассмотрения актов прокурорского реагирования</th>
                <th style="width: 12%">Фактическое устранение нарушений закона и восстановление нарушенных прав</th>
                <th style="width: 12%">Дата уведомления заявителя о результатах рассмотрения актов прокурорского реагирования </th>
                <th style="width: 4%">Оценка полноты и своевремен-ности принятых мер**</th>
            </tr>
        </thead>
        @if (appealsList.Length == 0)
        {
            <tbody>
                <tr>
                    <td align="center" colspan="10" style="border:none">
                        <div class="py-5">
                            <div style="color: rgb(0,0,120)" class="la-timer la-2x">
                                <div></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        }
        else
        {
            <tbody class="align-middle">
                @foreach (var appeal in appealsList)
                {
                    <tr class="align-content-start">
                        <td class="text-center">@num</td>
                        <td class="text-center">
                            <a href=@appeal.NadzorHyperlink>@appeal.RegistrationNumber</a>
                        </td>
                        <td>@appeal.ApplicantFullName</td>
                        @if (appeal.Department != null)
                        {
                            <td class="text-center">@appeal.Department.DepartmentIndex</td>
                        }
                        else
                        {
                            <td class="text-center"></td>
                        }
                        <td>@appeal.ProsecutorAction</td>
                        <td>@appeal.InvestigationResults</td>
                        <td class="text-center">@appeal.RightsRestoration</td>
                        <td class="text-center">@appeal.ApplicantNotification</td>

                        <td class="text-center fw-bold">
                            <a href="/estimatesatisfiedappeal/@appeal.Id/@DepartmentName/@appeal.District" class="btn btn-outline-primary">Оценить</a>
                        </td>

@*                        @if (!UserState.User.IsInRole(Participants.Department))
                        {
                            <td class="text-center fw-bold">@appeal.DepartmentAssessment</td>
                        }
                        else
                        {
                            <td class="text-center fw-bold">
                                @if (string.IsNullOrEmpty(appeal.DepartmentAssessment))
                                {
                                    <a href="/estimatesatisfiedappeal/@appeal.Id/@DepartmentName/@districtDescription" class="btn btn-outline-primary">Оценить</a>
                                }
                                else
                                {
                                    <p>@appeal.DepartmentAssessment</p>
                                    <a href="/estimatesatisfiedappeal/@appeal.Id/@DepartmentName/@districtDescription" class="btn btn-outline-secondary">Изменить</a>
                                }
                            </td>
                        }*@
                    </tr>
                    num++;
                }
            </tbody>
        }
    </table>
    <a href="/satisfieddistrictspage/@DepartmentName/@Period/@Year" class="btn btn-outline-success"><span class="h5 fw-bold">&#60; </span>Районы</a>
    <div>
        <SatisfiedAppealCommentsComponent />
    </div>
</div>


@code {
    //[Inject]
    //public IUserService UserService { get; set; }
    [Inject]
    public ISatisfiedAppealDataService? SatisfiedAppealDataService { get; set; }
    //[CascadingParameter(Name = "UserState")]
    //public AuthenticationState UserState { get; set; }

    //[Parameter]
    //public string District { get; set; }
    [Parameter]
    public string DepartmentName { get; set; }
    [Parameter]
    public string Period { get; set; }
    [Parameter]
    public int Year { get; set; }

    //private string districtDescription;
    private int num;

    private SatisfiedAppealModelDTO[] appealsList = new SatisfiedAppealModelDTO[] { };

    protected override async Task OnInitializedAsync()
    {
        num = 1;

        appealsList = (await SatisfiedAppealDataService.GetAllSatisfiedUnansweredForDepartment(DepartmentName, Period, Year)).ToArray();

        if (appealsList.Length == 0)
        {
            navManager.NavigateTo($"/satisfiedpage/{Year}");
        }

        //districtDescription = await UserService.GetUserDescription(District);

        //if (!UserState.User.IsInRole(Participants.Department))
        //{
        //    appealsList = (await SatisfiedAppealDataService.GetAllSatisfiedAppeals(District, Period, Year)).ToArray();
        //}
        //else
        //{
        //    appealsList = (await SatisfiedAppealDataService.GetAllSatisfiedAppealsForDepartment(District, DepartmentName, Period, Year)).ToArray();
        //}
    }
}
